<div class="flex justify-center mt-16">
  <div class="container">

    @if(errors().length > 0){
      <p> {{'security-feature.sign-in-page.error.description' | labelWithParam:{count: errors().length} }} </p>
    }

<!--      @if(formGroup.invalid){-->
<!--        <span class="error">Le formulaire n'est pas valide</span>-->
<!--      }-->

    <form [formGroup]="formGroup">
      <div>
        <div class="flex gap-2 flex-col">
          <h1>{{ 'security-feature.sign-in-page.title' | translate}}</h1>
          <p>{{ 'security-feature.sign-in-page.subtitle' | translate}}</p>
        </div>
        <div class="flex flex-col p-4 gap-4">
          <input type="text" placeholder="{{'security-feature.sign-in-page.username.placeholder' | translate}}" formControlName="username">
          <input type="password" placeholder="{{'security-feature.sign-in-page.password.placeholder' | translate}}" formControlName="password">
        </div>
        <div class="flex justify-end p-4 gap-4">
          <button (click)="signIn()"
                  [ngClass]="{'btn-disabled': formGroup.invalid, 'btn-success': !formGroup.invalid}"
                  [disabled]="formGroup.invalid"
                  type="button"
                  class="btn cursor-pointer"
                  routerLink="/dashboard">{{ 'security-feature.sign-in-input' | translate }}</button>
          <a routerLink="/home" class="btn btn-danger">{{ 'security-feature.input-cancel' | translate }}</a>
        </div>
      </div>
    </form>

  </div>
</div>
