<main class="flex flex-col items-center mt-16 gap-20">
  <div class="container text-center">
    <h1>Welcome to Our Site</h1>
    <p>Explore our features and services</p>
    <app-simple-button [class]="'btn'" [type]="'button'" [placeholder]="'Get Started'"></app-simple-button>
  </div>

  <div class="container">
    <div class="flex items-center flex-col">
      <h2>Content to add</h2>
      <p>New content coming soon</p>
    </div>
  </div>

  <div class="container mb-16 text-center">
    <h2>Ready to Join Us?</h2>
    <p>Sign up and start exploring our services today!</p>
    <a class="btn" href="/account/signup">Sign up now!</a>

    <div class="mt-4 text-center">
      <p>Already have an account?</p>
      <a class="btn" href="/account/signin">Login</a>
    </div>
  </div>
</main>
