<main class="flex h-screen">

  <nav class="flex h-full w-1/4 text-white p-4 flex-col">
    <h1 class="text-center">Dashboard</h1>
    <a href="/dashboard/default" class="block py-2 px-4 hover:bg-gray-700 rounded">Default</a>
    <a href="/dashboard" class="block py-2 px-4 hover:bg-gray-700 rounded">Home</a>
  </nav>

  <div class="flex flex-col w-3/4">
    <header class="p-4">
      <h2>Header</h2>
    </header>

    <span class="page-wrapper-primary"></span>

    <section id="content" class="flex-grow p-4 bg-gray-100">
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
