<div class="flex items-center flex-col mt-16">
  <div class="container">
    <div class="flex gap-2 flex-col">
      <h1>{{ title }}</h1>
      <p>{{ subtitle }}</p>
    </div>
    <div class="flex flex-col p-4 gap-4">
      <div>
        <label>Username</label>
        <app-input [type]="'text'" [placeholder]="'Enter your username'"></app-input>
      </div>
      <div>
        <label>Email</label>
        <app-input [type]="'text'" [placeholder]="'Enter your email'"></app-input>
      </div>
      <div>
        <label >Password</label>
        <app-input [type]="'password'" [placeholder]="'Enter your password'"></app-input>
      </div>
      <div>
        <label>Confirm Password</label>
        <app-input [type]="'password'" [placeholder]="'Confirm your password'"></app-input>
      </div>
    </div>
    <div class="flex justify-end p-4 gap-4">
      <app-simple-button [class]="'btn btn-success'" [type]="'submit'" [placeholder]="'register'" routerLink="/dashboard"></app-simple-button>
      <a routerlink="/home" class="btn btn-danger">Cancel</a>
    </div>
  </div>
  <div class="mt-4 text-center">
    <p>Already have an account?</p>
    <a class="btn" routerLink="/account/signin">Login</a>
  </div>
</div>
